{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "display/css/style.css" %}>
    <title>Home Page</title>
</head>
<body>
    <!-- Import typed.min.js file from typed.js folder -->
    <script src=
        {% static 'display/typed.js-master/lib/typed.min.js'%}></script>
    </script>

    <div class="hero">
    
            <div class="logo">
                logo
            </div>
            <div class="home">
               <a href="#"> Home </a>
            </div>
            <div class="service">
                <a href="#"> Services </a>
            </div>
            <div class="about">
                <a href="aboutus"> About </a>
            </div>
            {% if user.is_authenticated %}
            <div class="login">
                <a href="logout"> Log Out </a>
            </div>
            {%else%}
            <div class="login">
                <a href="login"> Login </a>
            </div>
            {%endif%}
            <div class="contact">
                <a href="#"> Contact </a>
            </div>
            <div class="brandname">
                {% if user.is_authenticated %}
                <h3>
                   Hello! {{user.first_name }} 
                </h3> <br>
                {%endif%}
                <h1>
                    FROSHMORE
                </h1> <br>
                <h3>
                    <span class="text-slider-items">
                        Here for your roti, kapda n makaan
                    </span>
                    <strong class="text-slider"></strong>
                </h3>
            </div>
        
    </div>
    <div class="our_services">
        <h1>
            Our services
        </h1>
        <br>
        <div class="services">
            
            <div class="rental">
            <img src="{% static 'display/img/rental.png'%}" alt="">
            <a href="{% url 'rental' %}">    
                <h1>
                    Rental
                </h1>
                <h3>
                    One stop destination to find all nearby hostels and pg.
                </h3>
            </a>
            </div>
            <div class="tiffin">
                <img src="{% static 'display/img/tiffin.png'%}" alt="">
                <a href="{% url 'tiffin' %}">
                <h1>Tiffin</h1>
                <h3>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </h3>
                </a>
            </div>
            <div class="misc">
                <img src="{% static 'display/img/misc.png'%}" alt="">
                <a href="{% url 'misc' %}">
                <h1>Miscellaneous</h1>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, itaque?
                </h3>
                </a>
            </div>
        </div>
    </div>
    
    <div class="contact_us">
        <h1>
            Have any querry?
        </h1>
        <br>
        <h3>
            Feel Free to contact us
        </h3>
        <div class="container">
            <div class="contact-box">
                <h2>Contact Us</h2>
                <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
				
				<input type="text" id="name" name="name" class="field" placeholder="Your Name">
                <label for="name"></label>
				<input type="email" id="email" name="email" class="field" placeholder="Your Email">
                <label for="email"></label>
				<input type="phone" id="phone" name="phone" class="field" placeholder="Phone">
                <label for="phone"></label>
				<textarea placeholder="Message" id="message" name="message" class="field"></textarea>
                <label for="message"></label>
				<button type="submit" class="btn">Send</button>
                </form>
		    </div>
        </div>
    </div>
    

    <div class="footer">
        
            Made by <a href="https://github.com/Neeraj-2307" target="_blank">&nbsp;&nbsp;Neeraj Joshi</a>
            <a href="https://github.com/Pragati-64" target="_blank">&nbsp;&nbsp;Pragati Gupta</a>
            <a href="https://github.com/anjalirajj" target="_blank">&nbsp;&nbsp;Anjali Raj</a>
            <a href="https://github.com/aparnasingh26" target="_blank">&nbsp;&nbsp;Aparna Singh</a>
        
    </div>

      
    <!-- Add jquery cdn -->
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
  
    <!-- Add this script for successful 
        implementation of typed.js  -->
    <script>
        if ($(".text-slider").length == 1) {
              
            var typed_strings = 
                $(".text-slider-items").text();
  
            var typed = new Typed(".text-slider", {
                strings: typed_strings.split(", "),
                typeSpeed: 50,
                loop: true,
                backDelay: 900,
                backSpeed: 30,
            });
        }
    </script>


<!-- added the following script to avoid the reloading problem -->

    <script>
        if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>
</html>